.jmix

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
keystore/
src/main/resources/application-ad.properties

### IntelliJ IDEA ###
.idea/*
!.idea/encodings.xml
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
